<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@2"></script>
  <style>
    .checked{
      text-decoration: line-through;
      color: #ccc;
    }
  </style>
</head>

<body>

  <div id="app">
    <h2>To Do List</h2>
    <input-component v-on:up-count="countUp" v-bind:todolist="todoList" v-on:complete="complete"></input-component>
    <p>{{completeCount}} / {{count}}</p>
  </div>

  <script>
    const PrintComponent = {
      template: `
      <div :class="{checked : todoInfo.checked}">
        <label><input type="checkbox" v-bind:checked="todoInfo.checked" v-on:click="complete(index)">{{todoInfo.todo}} (완료일: {{todoInfo.date}})</label>
      </div>
      `,
      props: ['todoInfo', 'index'],
      methods: {
        complete: function (idx) {
          this.$emit('insert-todo', idx);
          }
        }
    }
    const InputComponent = {
      template: `
      <div>
        <div class="todoList">
          <print-component v-for="(todo,index) in todolist" v-bind:todoInfo="todo" :index="index" v-on:insert-todo="insertTodo"></print-component>
        </div>
        <div class="todoAdd">
          <div>
            <input id="todo" v-model="todo" v-on:keyup="updateTodo">
            <input id="date" v-model="date" v-on:keyup="updateTodo">
          </div>
          <button v-on:click="deleteComplete">처리완료삭제</button>
          <button v-on:click="completeSort">완료일순정렬</button>
        </div>
      </div>
      `,
      props: ['todolist'],
      data: function () {
        return {
          checked: '',
          todo: '',
          date: '',
        }
      },
      methods: {
        updateTodo: function () {
          this.$emit('up-count', this.todo, this.date);
        },
        deleteComplete: function (idx) {
          this.todoList[idx].checked.splice(1, idx);
        },
        completeSort: function () {
          this.todoList.sort(function (a, b) {return a.date < b.date ? -1 : a.date > b.date ? 1 : 0})
        },
        insertTodo: function (idx) {
          this.$emit('complete', idx);
        }
      },
      components: {
        'print-component': PrintComponent
      }
    }
    let app = new Vue({
      el: '#app',
      data: {
        todoList: []
      },
      methods: {
        countUp: function (todo, date) {
          // console.log(event);
          if (event.keyCode == 13) {
            this.todoList.push({
              checked: false,
              todo: todo,
              date: date,
            })
          }
        },
        complete: function (idx) {
          this.todoList[idx].checked = !this.todoList[idx].checked;
        }
      },
      computed: {
        count: function () {
          return this.todoList.length;
        },
        completeCount: function () {
          let newArray = this.todoList.filter(function (item) {
            return item.checked == true;
          })
          let length = newArray.length;
          return length;
        }
      },
      components: {
        'input-component': InputComponent
      }
    })
  </script>

</body>

</html>